{% extends 'layout.html' %}
{% block content %}

<h1> ¿Quienes Somos? </h1>
        <h3>GIRASOLES</h3>
<h3>"Añadimos vida a los años"</h3>

<p>Es una empresa de flores dedicada al diseño y la elaboracion de arreglos</p>
<p>de flores artificiales, naturales, frutales, chocolates, arreglos de globos</p>
<p>para nacimientos, amor y amistad, tarjetas con dedicatorias, articulos</p>
<p>decorativos que logren satisfacer las necesidades de los clientes en cuanto</p>
<p>a estilo, vanguardia, diseño y calidad</p>

{% endblock %}