*{
    margin:0%;
    padding:0%;
    font-family: sans-serif,Arial, Helvetica;
    text-decoration: none;

}
body{
    background-color: aliceblue;
}
/* Estilos a la Cabecera */
header{
    width:1210px ;
    height: 140px;
    background-color: #23282b;
    margin: 0px auto;
}
.logotipo h1{
    display: block;
    float: left; 
    margin-top: 10px;
    margin-left: 30px;
    letter-spacing: 2px;
    /*text-transform: uppercase; */
    font-weight:lighter;
    /*font-size: 25px; */
    color: #2ba977;

}

.logotipo img{
    display:block;
    width: 80px;
    float: left;
    margin-top: 20px;

}


.logotipo{
    display: flex;
    justify-content: center; 
    width: 75%;
    height: 110px;
    margin:0 auto;
    padding-top: 10px;
}
nav{
    width: 1250px;
    height: 40px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    margin:0 auto;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
    z-index: 1000;
    position: relative;
}
nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float:left;

}
nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #d1d4d6;
}
nav ul li a:hover{
    background-color: #2ba977;
    box-shadow: 0px 0px 5px #333333;
    color:white;
    transition: all 400ms;
}
.barra{
    width: 1250px; 
    margin: 0 auto 140px auto; 
    
}
.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float:left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float:right;
}
.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background-color: #2b2f30;
    float: left;
}

#content{
    width: 1212px;
    min-height: 930px;
    /* margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;  */
    margin: 40pz auto 30px auto;
}
.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #dddd;
    margin: 0 auto;
}

.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer{
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
    font-size: 20px;
}

/* 06 de marzo */
.boton_borrar {
    text-decoration: none;
    background-color: #ff0000; /* Cambiar a tu color deseado */
    color: white;
    padding: 5px;
    border: 1px solid #444; 
    border-radius: 5px;
}

.boton_borrar:hover {
    background-color: #cc0000; /* Cambiar a tu color deseado para hover */
}

.publicado {
    color:#2ba977
}

.privado {
    color: #cc0000;
}

/* .box form {
    width: 50%;
}

.box form label,
.box form input {
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input [type="text"],
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}
.box form select {
    width: 70px;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 20px;
    background-color: #2ba977;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: 1px salid #444;
    border-radius: 5px;
}

.box form input[type="submit"]:hover
.box form input[type="button"]:hover
.box form button:hover{
    cursor:pointer;
    padding: 10px;
    margin-top: 20px;
    background-color: #2ba977;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: 1px salid #444;
    border-radius: 5px;
    transition: 600 all;
} */


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada y etiquetas */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para el botón de envío */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos adicionales para el título y hr */
.title {
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.rojo{
    color: red;
    box-shadow: 0px 0px 4px black;
}
.message{
    padding: 20px;
    background: #2ba977;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}